body {
    background-color: #fbfbfb;
    font-family:'Lato',sans-serif;
}
a,a:hover,input[type="submit"]:hover,input[type="submit"],i
{
    -moz-transition: background-color .3s ease-in,color .3s ease-in, transform .3s ease-in,border .5s ease-out;
    -o-transition: background-color .3s ease-in,color .3s ease-in, transform .3s ease-in,border .5s ease-out;
    -webkit-transition: background-color .3s ease-in,color .3s ease-in, transform .3s ease-in,border .5s ease-out;
    transition: background-color .3s ease-in,color .3s ease-in, transform .3s ease-in,border .5s ease-out;
}
.logo{
    font-size: 40px;
    font-weight: 300;
    line-height: 70px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}
.logo:hover {
    color: #adadad;
}
h2 {
    color: #52595D;
    font-size: 38px;
    line-height: 70px;
    font-weight: bold;
}
h3 {
    font-size: 30px;
    line-height: 70px;
}
p {
    font-size: 16px;
    line-height: 24px;
    color: #C0C3C5;
}
.container {
    width: 1000px;
    text-align: center;
    margin: 0 auto;

}
header {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: 50% 0;
    padding: 45px 0 105px;
}
.banner {
    width: 615px;
    padding-top: 170px;
    margin: 0 auto;
}
.banner h2 {
    color: #ffffff;

}
.banner p{
    font-size: 21px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 50px;
    opacity: 0.9;
}
.banner a {
    padding: 20px 75px;
    background-color: #A3B8BD;
    border-radius: 4px;
    font-size: 21px;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
    margin-top: 50px;
    display: inline-block;

}
.banner a:hover {
    background-color: #fff;
    color: #000;
}

.bg-blue {
    background-color: #A3B8BD;
    padding-bottom: 0;
}
.bg-blue img {
    margin-bottom: -2px;
}
.bg-gray {
    background-color: #2C2F34;

}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.main-menu li {
    display: inline-block;
}
.main-menu li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 70px;
    height: 60px;
    margin-right: 14px;

}
.main-menu {
    display: inline-block;
}
.main-menu li:last-child a {
    margin-right: 0;
}
.main-menu a:hover {
    border-bottom: 3px solid #fff;
}
section {
    padding: 60px 0 100px;
}
section img {
    margin-top: 60px;
}
.bg-blue p, .bg-blue h2 {
    color: #fff;
}
.text {
    font-size: 21px;
    width: 550px;
    margin: 0 auto;
}

.bg-green {
    background-color: #56AC53;
}
.column {
    width: 30%;

    float: left;
    margin:50px 1.5%;
}
.col-head {

    min-height: 80px;
    box-sizing:border-box ;
    padding: 15px 0 15px 0;
    border-radius: 6px 6px 0 0;
}
.col-head h3 {
    font-weight: 300;
    color: #fff;
    line-height: 28px;
    opacity: 0.9;
}
.col-head p {
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    opacity: 0.8;
}
.column li {

    font-size: 21px;
    line-height: 65px;
}
.column li:first-child {
    font-weight: bold;
}
.column ul {
    padding-top:20px;
    padding-bottom: 20px;
    background-color: #E8EDF1;
}
.button {
    font-size: 18px;
    line-height: 28px;
    display: block;
    padding-top: 15px;
    padding-bottom:15px ;
    margin-top: 22px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px;
}
.button:hover {
    background-color: #afaca3;

}
.col span {
    display: block;
    font-size: 15px;
    line-height: 22px;
    width: 370px;
    margin: 0 auto;
    color: #ABB1B5;
}
.bg-gray h2,.bg-gray p {
    color: #fff;
}
.bg-gray p{
    opacity: 0.7;
}
.bg-turquoise {
    background-color: #52A0AC;
}
form {
    width: 400px;
    margin: 55px auto auto;
}
input[type="text"],textarea {
    display:block;
    width: inherit;
    box-sizing: border-box;
    background-color: #2C2F34;
    border: 2px solid #fff;

    font-size:17px;
    margin-bottom: 20px;
    color: #fff;
    padding-left: 15px;
    font-family: Lato, Arial, sans-serif;

}
input[type="text"]:focus,textarea:focus {
    outline: none;
}
textarea::-webkit-input-placeholder
{
    color: #ffffff;
    
}
textarea:-ms-input-placeholder
{
    color: #ffffff;
}
textarea:-moz-placeholder
{
    color: #ffffff;
}
input[type="text"]::-webkit-input-placeholder {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}
input[type="text"] {
    height: 60px;
    line-height: 60px;
}
textarea {
    height: 110px;
    line-height: 50px;
}
input[type="submit"] {
    display: block;
    width: inherit;
    height: 60px;
    border-radius: 4px;
    border: none;
    background-color: #A3B8BD;
    color: #2C2F34;
    font-size: 18px;
}
input[type="submit"]:focus {
    outline: none;
}
input[type="submit"]:active {
    box-shadow:inset 0 0 10px #000;
}
input[type="submit"]:hover {
    cursor:pointer;
    background-color: #8998AE;
}
.social a {
    display: inline-block;
    text-decoration: none;
}
.social {
    margin-top: 40px;
}
.social a i{
    display: block;
    font-size: 14px;
    color: #2C2F34;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background-color: #E8EDF1;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
.social a:hover i {
    background-color: #000000;
    color: #fff;
}
footer {
    padding-top: 55px;
    padding-bottom: 55px;
}
footer span {
    text-align: left;
    line-height: 21px;
    color: #535a5e;
}
footer .main-menu li a {
    color: #52595D;
    height: 25px;
    line-height: 25px;
    
}
footer .main-menu li:hover a {
    border-color: #52595D;
    border-bottom-width: 2px;
}
